<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>7</string>
					<key>EndingLineNumber</key>
					<string>4</string>
					<key>StartingColumnNumber</key>
					<string>7</string>
					<key>StartingLineNumber</key>
					<string>4</string>
					<key>Timestamp</key>
					<string>778202921.9213459</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MemorialDayWidget/MemorialDayWidgetIntent.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>
@available(iOS 17.0, iOSApplicationExtension 17.0, *)
struct </string>
				<key>trailing</key>
				<string>MemorialDaySelectionIntent: WidgetConfigurationIntent {
	static var title: LocalizedStringResource = "选择纪念日"
	static var description = IntentDescription("选择一个纪念日用于展示")
</string>
			</dict>
			<key>title</key>
			<string>Error: Protocol 'AppIntent' requires 'perform()' to be available in application extensions for iOS 16.4 and newer</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
